<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Mooby - Finanças</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1>Mooby Finance</h1>
    <div class="saldo-atual">
      <span>Saldo Atual:</span>
      <span id="exibe-saldo">R$ 0,00</span>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="index.html">🏠 Início</a></li>
      <li><a href="dashboards.html">📊 Relatórios</a></li>
      <li><a href="inputs.html">💰 Finanças</a></li>
    </ul>
  </nav>
  <main role="main">
    <div class="formularios">
      <!-- Formulário de Receita -->
      <div class="form-container">
        <h2>Adicionar Receita</h2>
        <form id="form-receita">
          <input type="number" step="0.01" name="valor" placeholder="Valor" required>
          <input type="text" name="descricao" placeholder="Descrição" required>
          <input type="text" name="categoria" placeholder="categoria" required>
          <button type="submit">Adicionar Receita</button>
          <div id="mensagem-receita"></div>
        </form>
      </div>
      <!-- Formulário de Despesa -->
      <div class="form-container">
        <h2>Adicionar Despesa</h2>
        <form id="form-despesa">
          <input type="number" step="0.01" name="valor" placeholder="Valor" required>
          <input type="text" name="descricao" placeholder="Descrição" required>
          <input type="text" name="categoria" placeholder="categoria" required>
          <button type="submit">Adicionar Despesa</button>
          <div id="mensagem-despesa"></div>
        </form>
      </div>
    </div>
    <hr>
    <h2>Transações Recentes</h2>
    <div id="lista-transacoes" class="transacoes-lista"></div>
  </main>
  <script src="script.js"></script>
</body>

</html>