<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Mooby - Controle Financeiro</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h3>Saldo Atual</h3>
    <div id="exibe-saldo"></div>
  </header>

  <div class="form-container">
    <div>
      <h1>Adicionar Receita</h1>
      <form id="form-receita">
        <input name="valor" type="number" step="0.01" placeholder="Valor" required />
        <input name="descricao" placeholder="Descrição" required />
        <select name="categoria">
          <option value="" disabled selected>Selecione uma categoria</option>
          <option value="Salário">Salário</option>
          <option value="Motoboy">Motoboy</option>
        </select>
        <button type="submit">Adicionar Receita</button>
        <div id="mensagem-receita"></div>
      </form>
    </div>

    <div>
      <h1>Adicionar Despesa</h1>
      <form id="form-despesa">
        <input name="valor" type="number" step="0.01" placeholder="Valor" required />
        <input name="descricao" placeholder="Descrição" required />
        <select name="categoria">
          <option value="" disabled selected>Selecione uma categoria</option>
          <option value="Alimentação">Alimentação</option>
          <option value="Transporte">Transporte</option>
          <option value="Lazer">Lazer</option>
          <option value="Saúde">Saúde</option>
          <option value="Educação">Educação</option>
          <option value="Outros">Outros</option>
        </select>
        <button type="submit">Adicionar Despesa</button>
        <div id="mensagem-despesa"></div>
      </form>
    </div>
  </div>

  <hr />
  <h2>Transações</h2>
  <div id="lista-transacoes" class="transacoes-lista"></div>
<script src="script.js"></script>
</body>

</html>
